{% extends "base.html" %}

{% block content %}
<section id="about" class="about section mt-5">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are ?</h3>
            <h2>FSF Global IT SOLUTIONS</h2>
            <p>
               Global IT consulting company providing quality and cost effective services that deliver measurable results. We provide services in a wide spectrum of IT/Non-IT. Our experience in Information Technology solutions and our emphasis on Quality make us different from our competition. At Full Stack Freshers, we focus on developing long-term partnership with the clients to enhance their competitive edge.
            </p>
            <p class="mt-3">
              Based in Hyderabad, Telangana, having 60+ employees, we are highly acknowledged
              among our clients for our Agile development process, SLA-driven Approach, and
              On-Time Project Delivery. A reliable partner, both in terms of resources and services, we
              also help clients who may not have the infrastructure or bandwidth to fill the skills gap in
              their organization.
            </p>
            
          </div>
        </div>

      </div>
    </div>
    <div class="container mt-5" data-aos="fade-up ">
        <div class="row gx-0">
  
          <div class="col-lg-5  d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content mb-3">
              
              <h2>Our Abilities</h2>
             <ul>
                <li>Custom Software Development based on business needs.</li>
                <li>CRM & ERP Application Development</li>
                <li>Cloud Application Design and Development.</li>
                <li>Staff Augmentation Offshore & Onshore</li>
                <li>USA Toxication</li>
                <li>USA Medical Billing Process</li>
                
             </ul>
              
            </div>
          </div>
          <div class="col-lg-6 ms-5">
               <img src="../static/assets/img/learningimg.jpg" alt="" class="img-fluid float-end rounded">
          </div>
  
        </div>
      </div>

  </section>
{% endblock content %}