{% extends "base.html" %}
{% block content %}
    <section class="mt-5">
        <div class="container section-title" data-aos="fade-up">
            <h2 class="text-center mb-4">Careers</h2>
        </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-6 shadow p-3 mb-5 rounded">
                <h3>Full Stack Developers</h3>
                <p>
                    Full Stack Freshers takes great pride in the unified structure and consistent service that we offer to our customers. Full Stack Freshers, is committed to adding exceptional value to the client's businesses through high-quality, professional services that are precise, reliable and quick.
                </p>
                <p>
                    Our competency lies in reaching out to people through effective, professional business communication and practices or a little well-thought-out advice to the candidates. It is therefore no wonder that our services attract success for our clients.
                </p>
                <p>
                    We not only provide our consultants/employees the freedom and independence of working in an open environment but also have the fun of meeting new people, working at new places and facing new challenges every day. We continuously strive to create a dynamic and challenging work environment that encourages and acknowledges both individual contributions and team efforts.
                </p>
        </div>
    </div>
    </section>
{% endblock content %}