{% extends 'base.html' %}

{% block content %}

<section id="hero" data-aos="fade-up">
               
  <div class="container m-5">
    <div class="row gy-4">
      <div class="col-lg-8 col-md-12 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We are a Design, Development & Consulting based Company offering end-to-end
          solutions to Enterprises, Private and Government Organizations.</h1>
        
        <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
          <a href="#about" class="btn-get-started ">Know More<i class="bi bi-arrowright"></i></a>
        </div>
      </div> 
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>


<section id="about" class="about section m-5 ">

<div class="container" data-aos="fade-up" data-aos-once="false">
  <div class="row gx-0">

    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="content">
       
        <h2>FSF Global IT Solutions, Consulting and Staff Argumentation.</h2>
        <p>
          We are a Design, Development & Consulting based Company offering end-to-end
          solutions to Enterprises, Private and Government Organizations as well. Since our
          establishment in 2021, we have implemented key engagements for our exclusive global
          clientele spanning across ERP & CRM, Education, Retail, Healthcare, Media, Travel,
          Transport, Manufacturing, Banking, Financial Services and Insurance.
        </p>
        <div class="text-center text-lg-start">
          <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Read More</span>
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
      <img src="../static/assets/img/aboutsec-img.jpg" class="img-fluid rounded float-end" alt="">
    </div>

  </div>
</div>

</section>

<section id="values" class="values section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Values</h2>
    <p>What we value most<br></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 mt-3 ms-5">

     <div class="container col-lg-4">
          <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
            <img src="../static/assets/img/trainingimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
            <div class="card-body">
              <h5 class="card-title text-center">TRAINING</h5>
            </div>
          </div>
     </div>

     <div class="container col-lg-4">
      <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
        <img src="../static/assets/img/internshipimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
        <div class="card-body">
          <h5 class="card-title text-center">INTERNSHIPS</h5>
        </div>
      </div>
    </div>

      <div class="container col-lg-4">
        <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
          <img src="../static/assets/img/placeimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
          <div class="card-body">
            <h5 class="card-title text-center">PLACEMENT</h5>
          </div>
        </div>
      </div>

      
      </div>

  </div>

</section>
<section id="resources">
  <div class="container section-title" data-aos="fade-up">
    <h2 class="text-center mb-4">Resourses of our company</h2>
  </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3 col-md-6 shadow p-3 mb-5 rounded me-5" data-aos="fade-up" data-aos-delay="100">
          <h3>30 Full Stack Developers</h3>
          <p>Full-stack developers are adept at handling multiple aspects of a project, from user interface design to server-side scripting and database management</p>
          <p></p>
      </div>
      <div class="col-lg-3 col-md-6 shadow p-3 mb-5 me-5 rounded" data-aos="fade-up" data-aos-delay="100">
        <h3>US IT Staffing</h3>
        <p>US Staffing is a process of recruiting and hiring employees in the United States for various job positions in different industries.</p>
      </div>
      <div class="col-lg-3 col-md-6 shadow p-3 mb-5  rounded" data-aos="fade-up" data-aos-delay="100">
        <h3>20 Software trainee engineers</h3>
        <p>Trainee Engineers assist with the development, design, testing, and commissioning of processes, systems, products, and equipment</p>
      </div>
    </div>
      
      
  </div>
  </div>
</section>
{% endblock content %}    