{% extends 'base.html' %}

{% block content %}
     <section class="m-5">
        <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Check Our Services:<br></p>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-6 shadow p-3 mb-5  rounded" data-aos="fade-up" data-aos-delay="100">
                <h3>IT/ NON-IT CONSULTING</h3>
                <p class="text-start">
                  Our vast knowledge and direct experience delivering to the best clients enables us to provide our services with confidence and unwavering commitment to quality. Our company specializes in the acquisition and delivery of IT Talent in the areas of Applications, Infrastructure, End-User Support, and Communications technology etc.
                </p>
                <p>
                    <strong>Specialization : </strong>By focusing on our area of expertise, we know the industry, the market, and are able to provide your organization with the most current, professional and experienced administrative candidates.
                </p>
                <p>
                    <strong>Quick turnaround :</strong>On an ongoing basis, we meet with new candidates and build relationships with existing candidates. This allows us to manage your candidate search quickly and efficiently.
                </p>
            </div>
            
            
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-6 shadow p-3 mb-5  rounded" data-aos="fade-up" data-aos-delay="100">
                <h3>RECRUITMENT PROCESS OUTSOURCING :</h3>
               
                <p>
                    <strong>FSF Solutions</strong> also an RPO leading Recruitment Process Outsourcing Company, providing services to the clients in US and Canada. Full Stack Freshers offers an offshore recruiting team that understands the recruiting process. Our success lies in our ability to seek technical professionals in the job market with an understanding of how to match those skills with the specific needs of our customers..
                </p>
               <p>Full Stack Freshers is one of the innovative pioneers in offshore resource services to US clients. Our RPO team is headed by an Experienced Recruiting/Sourcing specialists who has more than 5 plus years of experience in IT/Non-IT Industry. Specializes in meeting high volume hiring goals, managing a large volume of client prospects, and quickly identifying those candidate qualifications that offer the greatest potential for the position being requested. To do this, Full Stack Freshers utilizes Internet employment search engines, job boards, Social Networking sites to accumulate a shortlist of potential candidates. Our experience then allows us to screen (technical screening conducted by team of technology specialists with years of IT experience) those candidates and offer our clients only those leads that have the highest potential for a successful fit with their requirements.</p>
            </div>
            
            
        </div>
    <!-------SERvices we provide -->
        <div class="container">

            <div class="row gy-4 mt-3">
        
             <div class="container col-lg-4">
                  <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
                    <img src="../static/assets/img/trainingimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
                    <div class="card-body">
                      <h5 class="card-title text-center">TRAINING</h5>
                    </div>
                  </div>
             </div>
        
             <div class="container col-lg-4">
              <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
                <img src="../static/assets/img/internshipimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
                <div class="card-body">
                  <h5 class="card-title text-center">INTERNSHIPS</h5>
                </div>
              </div>
            </div>
        
              <div class="container col-lg-4">
                <div class="card bg-transparent outline-0 text-light" style="width: 18rem;">
                  <img src="../static/assets/img/placeimg.jpg" class="card-img-top" alt="..." wdith="200px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title text-center">PLACEMENT</h5>
                  </div>
                </div>
              </div>
        
              
              </div>
        
          </div>
     </section>
{% endblock content %}